<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <Title>Exchange Variation</Title>
</head>
<body>
<h1>Rate Variation of USD compared to EUR</h1>
    <p>This table shows the number of time the value of the dollar increased as well as decreased compared to the euro</p>
<div align="center">
    <table border = "1" cellpadding = "5" cellspacing = "5">
        <tr>
            <th>Exchange Pair</th>
            <th>Increases</th>
            <th>Decreases</th>
        </tr>
        <tr>
            <td>EUR/USD</td>
            <td th:text="${rateVariation.increases}"></td>
            <td th:text="${rateVariation.decreases}"></td>
        </tr>
    </table>
</div>
</body>
</html>